.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #801ab3;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #4c4cff;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.loader::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loader__span {
  color: #737373;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 150px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50% {
    color: #1c1c21;
  }
}
