.container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

.captioncontainer {
  display: flex;
  justify-content: space-between;  
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.header {
  align-self: baseline;  
}

.icon {
  width: 480px;
  height: 240px;
}