.ingredient {
  position: relative;
  max-width: 272px;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: grab;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

.ingredient:hover {
  transform: scale(1.05);
}

.element_img {
  width: 240px;
  height: 120px;
}

.counter {
  position: absolute;
  top: 0px;
  right: 0px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price svg {
  margin-left: 9px;
}

.ingredient_dragging {
  background: radial-gradient(
    rgba(128, 26, 178, 0.5) 0%,
    rgba(76, 76, 255, 0.5) 30%,
    rgba(19, 19, 22, 1) 55%
  );
}
