.navwrapper {
  max-width: 320px;
  margin-right: 60px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listelement {
  text-decoration: none;
  display: block;
  color: #8585ad;
  height: 64px;
}

.listelement:hover {
  color: white;
}

.listelement_active {
  color: white;
  transition: all 0.3s ease;
}

.info {
  opacity: 40%;
}

.button {
  margin: 0;
  background: transparent;
  border: none;
}

.button:hover {
  color: white;
  cursor: pointer;
}
