.modal {
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 40px;
  box-sizing: border-box;
  width: 720px;  
  z-index: 3;
  background: #1C1C21;
  position: relative;
}

.modal_closebtn {
  position: absolute;
  top: 63px;
  right: 43px;
  cursor: pointer;
}