.ordersList__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 0;
  list-style: none;
  line-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-height: calc(100vh - 286px);
  scrollbar-width: thin;
}
