.orderCard__item {
  width: 100%;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #1c1c21;
  padding: 24px;
}

.orderCard__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  gap: 24px;
}

.orderCard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderCard__priceWrapper {
  display: flex;
  align-items: center;
}

.orderCard__price {
  margin-right: 9px;
}

.orderCard__ingredientsList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row-reverse;
}

.orderCard__ingredientsList_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.orderCard__subTitle {
  color: #00cccc;
}
