.header {
  display: flex;
  grid-row: 1 / span 1;
  justify-content: center;
  align-items: center;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  color: #8585ad;
  transition: all 0.3s ease;
}

.header__link_active {
  color: #f2f2f3;
}

.header__link:hover {
  color: #f2f2f3;
}

.header__link:hover svg {
  fill: #f2f2f3;
  transition: all 0.3s ease;
}

.container {
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__menu_left {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
}

.nav__menu_right {
  grid-column: 3 / span 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__menu_right svg {
  /*pl не примиксовывается глюк*/
  padding-right: 8px;
}

.nav__menu_left svg {
  padding-right: 8px;
}
