.header {
  display: flex;  
  grid-row: 1/span 1;
  justify-content: center;
  align-items: center;  
}

.container {
  width: 1280px; /*макет content*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;    
}

.logo {
  grid-column: 2/span 1;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.menu_btn {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.menu_btn:visited {
  color: var(--text-primary-color);
}

.nav__menu_left {
  grid-column: 1/span 1;  
  display: flex;
  align-items: center;
}

.nav__menu_right {
  grid-column: 3/span 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__menu_right svg { /*pl не примиксовывается глюк*/
  padding-right: 8px;
}

.nav__menu_left svg {
  padding-right: 8px;
}
